body {
    background-color: black;
}

.position {
    align-items: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fallDown {
    0% {
        transform: translateY(-300px)
    }

    33% {
        transform: translateY(0px);
    }

    66% {
        transform: translateY(-75px);
    }

    100% {
        transform: translateY(0px);
    }
}

.creators {
    display: flex;
    color: white;
    animation: fallDown 1s linear;
}
.M {
    text-align: center;
}

.Onni {
    text-align: center;
    transition: font-size 0.3s;
}

.Onni:hover .OnniImg{
    width: 200px;
    height: 200px;
}

.Onni:hover {
    font-size: 50px;
}

.OnniImg {
    transition: width 0.3s,
    height 0.3s;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.Hill-Billy {
    margin-left: 200px;
    margin-right: 200px;
    white-space: nowrap;
    text-align: center;
    transition: font-size 0.3s;
}

.Hill-Billy:hover {
    font-size: 50px;
}

.Hill-Billy:hover .HillBillyImg {
    width: 200px;
    height: 200px;
}

.HillBillyImg {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: width 0.3s,
    height 0.3s;
}