.BackgroundImage {
    background: url("/images/designbackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-color: grey;
    background-blend-mode: multiply;
    text-align: center;
}

h1 {
    color: white;
}

p {
    color: white;
}

.GoldEmphasis {
    color: #b8996b;
}

.designPageContainer {
  left: 50%;
}