body {
    text-align: center;
}

.BackgroundImage {
    background: url("/images/designbackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-color: grey;
    background-blend-mode: multiply;
}

.UnderNavBar {
    align-items: top;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-top: 50px;
    color: white;
}

p {
    color: white;
}

.GoldEmphasis {
    color: #B28228;
}
