.home {
    background-image: url("/images/mclaren-artura.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.front-page-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.menu {
    float: left;
    margin: 25px;
}

.banana {
    opacity: 0;
    width: 100px;
    transition: opacity 0.15s,
    margin 0.15s;
}

.dropDownMenu {
    opacity: 1;
    float: left;
    margin-top: 50px;
    margin-left: -115px;
}

.dropDownMenu:hover .banana {
    opacity: 1;
}