.navBar {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 5vh;
    align-items: center;
}

.navItems {
    font-family: Arial;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0px 20px;
}

a {
    color: #b8996b;
}

a:hover {
    color: #96713a;
}
