.navBar {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 5vh;
    align-items: center;
}

.navItems {
    font-family: Arial;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0px 20px;
}

.hamburgerMenu {
    display: none;
}

a {
    color: #b8996b;
}

a:hover {
    color: #96713a;
}

@media (max-width: 600px) {
    .navItems {
        display: none;
    }

    .hamburgerMenu {
        display: block;
        margin-top: 70px;
        margin-left: 30px;
        padding-bottom: 10px;
    }

    .navContainer:hover .navItems {
      display: flex;
      flex-direction: column;
      position: fixed;
      margin-top: 250px;
      margin-left: -129px;
  }

}