body {
    margin: 0;
    background-color: black;
}

h1 {
  margin-top: 260px;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

.UnderNavBar {
  align-items: top;
  position: absolute;
  top: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
}