body {
  margin: 0;
  background-image: url("mclaren.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dramatic-header {
  height: 100vh;
  position: relative;
}

.dramatic-header .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.menu {
  float: left;
  margin: 25px;
}